:root{
  --ScissorsGradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --PaperGradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --RockGradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --LizardGradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --Cyan: hsl(189, 59%, 53%), hsl(189, 58%, 57%);

  --DarkText: hsl(229, 25%, 31%);
  --ScoreText: hsl(229, 64%, 46%);
  --HeaderOutline: hsl(217, 16%, 45%);

  --Background: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
  font-size: 62.5%;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* overflow-y: hidden; */
  /* background-color: red; */
  background: linear-gradient(var(--Background));
}

.container header{
  display: flex;
  z-index: 99;
  margin-top: 40px;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid var(--HeaderOutline);
}

.container header img{
  object-fit: contain;
  height: 12rem;
}

.container header .pontuacao{
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem 4rem;
}

.container header .pontuacao h1{
  font-size: 2rem;
  letter-spacing: 2px;
  color: var(--ScoreText);
}
.container header .pontuacao p{
  font-weight: 700;
  font-size: 48px;
  color: var(--DarkText);
}

/***********************************************/

.container .escolher{
  display: flex;
  z-index: 99;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  width: 100%;
  /* background-color: red; */
}
.container .escolher .back{
  position: absolute;
  top: 15%;
  width: 30%;
  height: 50%;
}
.container .escolher button.escolhas{position: absolute;}
.container .escolher button.pedra{
  top: 50%;
}
.container .escolher button.papel{
  left: 30%;
  top: 5%;
}
.container .escolher button.tesoura{
  right: 30%;
  top: 5%;
}
/*****************************************************************/
button.escolhas{  
  /* position: absolute; */
  border: 0;
  background-color: #fff;
  border-radius: 50%;
  padding: 2rem;
  cursor: pointer;
}
button.escolhas.grande{
  border-radius: 500px;
  padding: 40px;
}
button.escolhas.grande img{
  width: 120px;
  height: 160px;
  object-fit: contain;
}
button.escolhas img{
  width: 5rem;
  height: 9rem;
  object-fit: contain;
}
button.escolhas.grande .interior{
  padding: 40px 60px;
  border-radius: 300px;
}
button.escolhas .interior{
  padding: 2rem 4rem;
  background-color: #fff;
  border-radius: 100px;
  
}
button.pedra{
  background: linear-gradient(var(--RockGradient));
}
button.papel{
  background: linear-gradient(var(--PaperGradient));
}
button.tesoura{
  background: linear-gradient(var(--ScissorsGradient));
}
button.spock{
  background: linear-gradient(var(--Cyan));
}
button.lagarto{
  background: linear-gradient(var(--LizardGradient));
}
/**********************************************************************/
.container .suspense{
  flex: 1;
  gap: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}
.container .suspense div .vazio{
  width: 330px;
  height: 330px;
  border-radius: 500px;
  background: var(--DarkText);
}
.container .suspense div{
  display: flex;
  gap: 8rem;
  flex-direction: column;
  align-items: center;
}
.container .suspense div h1{
  color: #fff;
  letter-spacing: 2px;
}

.container .resultado{
  display: flex;
  flex: 1;
  z-index: 99;
  /* background-color: red; */
  align-items: center;
  gap: 100px;
}

.container .resultado div{
  display: flex;
  gap: 8rem;
  flex-direction: column;
  align-items: center;
}
.container .resultado div h1{
  color: #fff;
  letter-spacing: 2px;
}
.container .resultado .centro{
  gap: 10px;
}
.container .resultado .centro h1{
  font-size: 48px;
  text-transform: uppercase;
}
.container .resultado .centro button{
  border: 0;
  width: 100%;
  background-color: #fff;
  color: hsl(237, 49%, 15%);
  padding: 20px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  border-radius: 10px;
  cursor: pointer;
}
.container .resultado .centro button:hover{
  color: red;
}

.container .detalhe.left{
  left: -25%;
}
.container .detalhe.right{
  right: -25%;
}
.container .detalhe{
  position: absolute;
  /* width: 100%; */
  height: 100%;
  top: 0;
  z-index: 0;
  /* padding: 60px; */
  /* background-color: rgba(255, 255, 255, .05); */
}
.container .detalhe img{
  width: 100%;
  height: 100%;
}

.container .botao-regra{
  position: absolute;
  cursor: pointer;
  z-index: 999;
  bottom: 3%;
  right: 2%;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 4px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #fff;
  padding: 10px 40px;
  border-radius: 10px;
}

.container .regras{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
  background-color: rgba(0, 0, 0, .4);
}

.container .regra{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
}
.container .regra div{
  display: flex;
  justify-content: space-between;
}
.container .regra h1{
  color: var(--DarkText);
}
.container .regra button{
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

/** Modo Bonus **/

.container .escolher-bonus{
  display: flex;
  z-index: 99;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  width: 100%;
  /* background-color: red; */
}
.container .escolher-bonus button.escolhas{
  position: absolute;
}

.container .escolher-bonus .back.bonus{
  position: absolute;
  top: 10%;
  width: 30%;
  height: 70%;
}

.container .escolher-bonus button.pedra{
  top: 65%;
  right: 35%;
}
.container .escolher-bonus button.papel{
  right: 30%;
  top: 27%;
}
.container .escolher-bonus button.tesoura{
  top: 2%;
}
.container .escolher-bonus button.spock{
  left: 30%;
  top: 27%;
}
.container .escolher-bonus button.lagarto{
  top: 65%;
  left: 35%;
}
.container .botao-bonus{
  position: absolute;
  cursor: pointer;
  z-index: 999;
  bottom: 3%;
  left: 2%;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 4px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #fff;
  padding: 10px 40px;
  border-radius: 10px;
}
.container .botao-bonus.on{
  background-color: #fff;
  color: #000;
}


@media only screen and (max-width: 425px) {
  .container header{
    width: 80%;
    margin-top: 10px;
  }
  .container header img{
    height: 70px;
  }
  .container header .pontuacao{
    padding: 10px 20px;
  }
  .container header .pontuacao h1{
    font-size: 16px;
  }
  .container header .pontuacao p{
    font-size: 32px;
  }
  .container .escolher{
    width: 100%;
    /* height: 100%; */
  }
  .container .escolher .back{
    width: 70%;
    height: 40%;
  }
  .container .escolher-bonus{
    width: 100%;
    height: 75%;
  }
  .container .escolher-bonus .back.bonus{
    width: 80%;
    height: 50%;
  }

  button.escolhas.grande{
    border-radius: 500px;
    padding: 20px;
  }
  button.escolhas img{
    width: 30px;
    height: 70px;
  }
  button.escolhas.grande img{
    width: 60px;
    height: 100px;
  }
  button.escolhas.grande .interior{
    padding: 10px 30px;
    border-radius: 100%;
  }
  button.escolhas .interior{
    padding: 5px 25px;
    border-radius: 100%;
  }

  .container .escolher-bonus button.pedra{
    top: 50%;
    right: 10%;
  }
  .container .escolher-bonus button.papel{
    right: 2%;
    top: 20%;
  }
  .container .escolher-bonus button.tesoura{
    top: 2%;
  }
  .container .escolher-bonus button.spock{
    left: 2%;
    top: 20%;
  }
  .container .escolher-bonus button.lagarto{
    top: 50%;
    left: 10%;
  }

  .container .escolher button.pedra{
    top: 40%;
  }
  .container .escolher button.papel{
    left:2%;
    top: 8%;
  }
  .container .escolher button.tesoura{
    right: 5%;
    top: 8%;
  }

  .container .suspense{
    width: 100%;
    align-items: start;
    justify-content: space-around;
    gap: 0;
  }
  .container .suspense div{
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    flex-direction: column-reverse;
  }
  .container .suspense div h1{
    font-size: 14px;
  }
  .container .suspense div .vazio{
    width: 170px;
    height: 170px;
  }

  .container .resultado{
    justify-content: center;
    align-items: start;
    padding-top: 20px;
    /* flex-direction: column-reverse; */
    gap: 40px;
  }
  .container .resultado .centro{
    position: absolute;
    top: 58%;
    /* left: 50%; */
  }
  .container .resultado .centro button{
    padding: 20px 60px;
  }
  .container .resultado div{
    gap: 20px;
  }
  .container .resultado div h1{
    font-size: 14px;
  }

  .container .detalhe{
    height: 50%;
    top: 15%;
  }

  .container .detalhe.left{
    left: -55%;
  }
  .container .detalhe.right{
    right: -55%;
  }
  
  .container .botao-regra{
    /* position: relative; */
    bottom: 10%;
    font-size: 16px;
    margin-left: 20px;
  }
  
  .container .botao-bonus{
    visibility: hidden;
  }
  .container .botao-bonus::after{
    visibility: visible;
    left: 2%;
    content: "BONUS";
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    bottom: 90%;
    background-color: transparent;
    border: 1px solid #fff;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #fff;
    padding: 10px 10px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 1440px) {
  .container header img{
    height: 8rem;
  }
  .container header .pontuacao {
    padding: 1rem 2rem;
  }
  .container header .pontuacao h1{
    font-size: 2rem;
  }
  .container header .pontuacao p{
    font-size: 2rem;
  }
  button.escolhas{
    padding: 1.5rem;
  }
  button.escolhas img{
    width: 3rem;
    height: 7rem;
  }
  button.escolhas .interior{
    padding: 1rem 3rem;
  }

  button.escolhas.grande{
    border-radius: 500px;
    padding: 2.5rem;
  }
  button.escolhas.grande img{
    width: 5rem;
    height: 9rem;
  }

  .container .suspense div{
    gap: 4rem;
  }
  .container .suspense div .vazio{
    width: 22rem;
    height: 22rem;
  }

  .container .resultado div{
    gap: 4rem;
  }
}